.networking-icons-crunchbase {
    background-image: url('../networking-icons/crunchbase-custom.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 18px; 
    height: 18px; 
    display: inline-block; 
    vertical-align: middle;
}

a {
    vertical-align: middle;
  }